<!DOCTYPE html>
<html lang="pl">
  <%- include("../partials/head") %>
  <body>
   <!--main-->
    <%- include("../partials/header") %>
    <%- include("../partials/banner") %>
    <%- include("../partials/content") %>
    <%- include("../partials/footer") %>
  </body>


</html>
