<!DOCTYPE html>
<html lang="pl">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <div class="content">
      <h1 class="outlet-title"><%= locals.title %></h1>
      <p class="outlet-description"><%= locals.description %></p>
      <div class="book-list">
        <% books.forEach(book => { %>
        <div class="book-item">
          <img
            src="/images/bookImages/<%= book.Image %>.png"
            alt="<%= book.Title %>"
            class="book-cover"
          />
          <h2 class="book-title"><%= book.Title %></h2>
          <p class="book-author">Autor: <%= book.Author %></p>
          <p class="book-stock">Ilość dostępnych: <strong><%= book.Stock %></strong></p>
          <p class="book-condition">Stan: <strong><%= book.IsUsed === 1 ? "Używana" : "Nowa" %></strong></p>
          <% if (book.Sale_price) { %>
          <p class="book-price-before">
            Przed przeceną: 
            <strong style="text-decoration: line-through">
              <%= book.Price.toFixed(2) %>
            </strong> PLN
          </p>
          <p class="book-sale-price">
            Cena: 
            <strong class="red"><%= book.Sale_price.toFixed(2) %></strong> PLN
          </p>
          <% } else { %>
          <p class="book-price">Cena: <%= book.Price.toFixed(2) %> PLN</p>
          <% } %>
          <button
            onclick="addProduct('<%= JSON.stringify(book) %>')"
            class="add-to-cart"
          >
            Dodaj do koszyka
          </button>
        </div>
        <% }); %>
      </div>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
